@using Ur.Data;
@inject Ur.Data.UserRepo urepo;

<div class="playerscore @activeClass">
    <center>
        <p>@Player.PieceColor: @Player.GetUserName(urepo)</p>
        <div class="gamemessage">
            @if (string.IsNullOrEmpty(Player.GameMessage)) {
                <p>&nbsp;</p>
            } else {
                <p>@Player.GameMessage</p>
            }
        </div>
        <div>
        @if (Game.ActivePlayerIndex == Player.Index) {
            if (Game.RolledPlacesToMove >= 0) {
                <span class="roll">@Game.RolledPlacesToMove</span>
            }
            else {
                <span class="roll">...</span>
            }
        }
        else {
            <span class="roll">&nbsp</span>
        }
        </div>
        @if (!Player.HasUser) {
            <div>
                <button class="btn btn-primary" @onclick="UseAI">Play against AI</button>
            </div>
        }
    </center>
</div>


@code {
    [Parameter]
    public Game Game { get; set; }
    [Parameter]
    public Player Player { get; set; }

    string activeClass => Game.ActivePlayerIndex == Player.Index ? "active" : "";

    async Task UseAI() {
        Player.IsAI = true;
        await Game.StartGameAsync();
    }
}
